/*mixin that let you change placeholder font color.*/
/*----------------end placeholder mixin---------*/
/*CSS for autocomplete drop-down*/
.ui-corner-all {
  border-radius: 0px !important;
  border: none !important;
  padding: 0px 0px 0px 0px !important; }

.ui-menu .ui-menu-item a {
  background: #4c4c4c;
  height: 40px;
  font-size: 12px;
  border: none;
  color: #6b6b6b;
  text-indent: 15px;
  line-height: 40px !important;
  border-bottom: 1px solid #6b6b6b !important;
  margin: 0px !important;
  cursor: pointer; }

.ui-menu .ui-menu-item a:hover {
  background-color: #242424; }

/*CSS for Header------Logo,Login and Register Tab-----------------*/
.header {
  background-color: #242424;
  width: 100%; }
  .header .content {
    width: 93.75%;
    margin: auto; }
    .header .content .logo {
      float: left;
      margin-top: 0px;
      margin-bottom: 0px;
      color: #57c5a0;
      height: 45px;
      line-height: 45px;
      font-family: 'Open Sans';
      font-size: 22px; }
    .header .content input, .header .content .fa-search {
      display: none; }
    .header .content .login {
      float: right;
      color: #6b6b6b;
      top: 0px;
      right: 0px;
      font-size: 12px;
      padding: 0px 18px 0px 18px;
      border-left: 1px solid #383838;
      border-right: 1px solid #383838;
      line-height: 50px;
      margin: 0; }

/*CSS for NavMenu,Whishlist and Cart------------------*/
.nav-menu {
  background-color: #FFF;
  width: 100%; }
  .nav-menu .content {
    width: 93.75%;
    margin: auto;
    line-height: 60px; }
    .nav-menu .content ul {
      display: none; }
    .nav-menu .content .cart {
      float: right;
      width: 80px;
      height: 60px;
      border-left: 1px solid #EEEEEE;
      border-right: 1px solid #EEEEEE; }
      .nav-menu .content .cart:hover span {
        background-color: #57c5a0; }
      .nav-menu .content .cart a {
        padding-left: 20px; }
      .nav-menu .content .cart .fa {
        margin-left: 10px;
        color: #000; }
      .nav-menu .content .cart span {
        background-color: #adadad;
        color: #FFF;
        margin-left: 10px;
        border-radius: 5px;
        display: block;
        text-align: center;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        margin: 21px 25px 0px 0px; }
    .nav-menu .content .whishlist {
      float: right;
      width: 80px;
      height: 60px;
      border-left: 1px solid #EEEEEE; }
      .nav-menu .content .whishlist:hover span {
        background-color: #57c5a0; }
      .nav-menu .content .whishlist a {
        padding-left: 25px; }
      .nav-menu .content .whishlist .fa {
        margin-left: 10px;
        color: #000; }
      .nav-menu .content .whishlist span {
        background-color: #adadad;
        color: #FFF;
        margin-left: 10px;
        border-radius: 5px;
        display: block;
        text-align: center;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        margin: 21px 25px 0px 0px; }

/*CSS fro Slider elements---------------------*/
.flexslider {
  height: 350px !important; }
  .flexslider img {
    height: 350px !important; }
  .flexslider .content {
    height: 350px;
    width: 100%;
    margin: auto;
    position: relative;
    margin-top: -350px;
    font-family: 'Allerta'; }
    .flexslider .content .details {
      width: 300px;
      float: right;
      margin-right: 10px; }
      .flexslider .content .details span {
        display: block;
        width: 70px;
        height: 70px;
        color: #FFF;
        background-color: #57c5a0;
        line-height: 70px;
        text-align: center;
        margin-top: 20px; }
      .flexslider .content .details h4 {
        font-size: 12px; }
      .flexslider .content .details p {
        font-size: 11px; }
      .flexslider .content .details .fa {
        color: #6e6e6e;
        display: block;
        width: 40px;
        height: 40px;
        margin-left: 4px;
        background-color: rgba(255, 255, 255, 0.6);
        float: left;
        line-height: 40px;
        text-align: center; }
        .flexslider .content .details .fa:hover {
          color: #57c5a0;
          text-decoration: none; }

/*CSS for Seconday Navigation Menu-----------------*/
.sec-nav {
  width: 100%;
  height: 60px;
  background-color: #2e2e2e; }
  .sec-nav .nav-content {
    font-family: 'Allerta';
    margin: auto;
    color: #6b6b6b;
    width: 100px; }
    .sec-nav .nav-content .slider-navigation {
      list-style-type: none;
      padding: 0; }
      .sec-nav .nav-content .slider-navigation .flex-active {
        cursor: default; }
        .sec-nav .nav-content .slider-navigation .flex-active .navigation-bar {
          background-color: #57c5a0; }
      .sec-nav .nav-content .slider-navigation li {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        width: 20px;
        margin-right: 16px; }
        .sec-nav .nav-content .slider-navigation li p, .sec-nav .nav-content .slider-navigation li h4 {
          display: none; }
        .sec-nav .nav-content .slider-navigation li:nth-child(3) {
          margin-right: 0px; }
        .sec-nav .nav-content .slider-navigation li div {
          height: 20px;
          width: 20px;
          background-color: #000;
          border: 1px solid #000;
          border-radius: 12px; }

/*CSS for Special Products Section------------------------*/
.special-products {
  width: 100%;
  background-color: #242424; }
  .special-products .content {
    width: 93.75%;
    margin: auto; }
    .special-products .content .onsale {
      width: 48%;
      height: 180px;
      background: url("../img/onsale.jpg") no-repeat 100%;
      float: left;
      margin-top: 25px;
      margin-bottom: 25px; }
    .special-products .content .specialoffers {
      width: 48%;
      height: 180px;
      background: url("../img/specialoffers.jpg") no-repeat;
      float: right;
      margin: 25px 0px 0px 0px; }
    .special-products .content .musthave {
      display: none; }
    .special-products .content .special-products-label {
      width: 60%;
      height: 60px;
      background-color: rgba(0, 0, 0, 0.85);
      margin: auto;
      margin-top: 60px;
      color: #FFF;
      font-family: 'Open Sans';
      text-align: center;
      line-height: 30px;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center; }
  .special-products a:hover {
    text-decoration: none; }

/*CSS for Special Products List Section------------------------*/
.products-list {
  background-color: #ebe7df;
  width: 100%; }
  .products-list .content {
    width: 93.75%;
    margin: auto; }
    .products-list .content hr {
      background-color: #bcb5a7;
      color: #bcb5a7;
      border: 0 none;
      height: 1px;
      margin-top: 25px;
      margin-bottom: 25px; }
    .products-list .content h1 {
      font-family: 'Allerta';
      font-size: 15px;
      float: left;
      margin-top: 25px; }
    .products-list .content .show-all {
      width: 80px;
      height: 25px;
      border: 1px solid #bcb5a7;
      float: right;
      line-height: 25px;
      text-align: center;
      color: #bcb5a7;
      margin-top: 20px;
      font-family: 'Allerta'; }
      .products-list .content .show-all:hover {
        color: black;
        background-color: #B2AFAB; }
    .products-list .content .new-arrivals {
      width: 100%;
      margin: auto; }
      .products-list .content .new-arrivals .product {
        height: 270px;
        width: 100%;
        position: relative;
        float: left;
        background-color: #FFF;
        margin: 15px 0px 15px 0px; }
        .products-list .content .new-arrivals .product:hover .action-menu {
          display: none; }
        .products-list .content .new-arrivals .product:hover h4 {
          display: block; }
        .products-list .content .new-arrivals .product img {
          border-bottom: 1px solid #CCC;
          width: 100%;
          height: 220px; }
        .products-list .content .new-arrivals .product .price {
          width: 68px;
          height: 68px;
          line-height: 68px;
          color: #FFF;
          background-color: #57c5a0;
          margin-left: 10px;
          text-align: center;
          font-family: 'Open Sans';
          margin-top: -18px;
          float: left;
          position: absolute; }
        .products-list .content .new-arrivals .product h4 {
          margin-left: 100px;
          line-height: 30px;
          color: #000;
          float: left;
          display: block; }
        .products-list .content .new-arrivals .product .on-sale {
          height: 68px;
          width: 68px;
          line-height: 68px;
          color: #FFF;
          background-color: #000;
          font-family: 'Open Sans';
          text-align: center;
          float: right;
          position: absolute;
          top: 0px;
          right: 10px; }
        .products-list .content .new-arrivals .product .action-menu {
          display: none; }
    .products-list .content .best-sellers {
      width: 100%;
      margin: auto; }
      .products-list .content .best-sellers .product {
        height: 270px;
        width: 100%;
        position: relative;
        float: left;
        background-color: #FFF;
        margin: 15px 0px 15px 0px; }
        .products-list .content .best-sellers .product:hover .action-menu {
          display: none; }
        .products-list .content .best-sellers .product:hover h4 {
          display: block; }
        .products-list .content .best-sellers .product img {
          border-bottom: 1px solid #CCC;
          width: 100%;
          height: 220px; }
        .products-list .content .best-sellers .product .price {
          width: 68px;
          height: 68px;
          line-height: 68px;
          color: #FFF;
          background-color: #57c5a0;
          margin-left: 10px;
          text-align: center;
          font-family: 'Open Sans';
          margin-top: -18px;
          float: left;
          position: absolute; }
        .products-list .content .best-sellers .product h4 {
          margin-left: 100px;
          line-height: 30px;
          color: #000;
          float: left;
          display: block; }
        .products-list .content .best-sellers .product .out-of-stock {
          height: 68px;
          width: 68px;
          line-height: 34px;
          color: #FFF;
          background-color: #f27e4b;
          font-family: 'Open Sans';
          text-align: center;
          float: right;
          position: absolute;
          top: 0px;
          right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 20px; }
        .products-list .content .best-sellers .product .action-menu {
          display: none; }
    .products-list .content .pre-footer {
      width: 100%;
      margin-bottom: 25px; }
      .products-list .content .pre-footer .free-shipping {
        display: none; }
      .products-list .content .pre-footer .testimonials {
        width: 100%;
        margin-left: 20px;
        height: 185px;
        background-color: #dfdbd4;
        float: left;
        font-family: 'Allerta';
        font-size: 12px;
        padding: 10px 20px 10px 20px;
        margin-left: 0px; }
      .products-list .content .pre-footer .blog {
        display: none; }

/*CSS for footer-----------------------------*/
.footer {
  width: 100%;
  background-color: #242424; }
  .footer .content {
    width: 93.75%;
    margin: auto; }
    .footer .content .text-widget {
      display: none; }
    .footer .content .twitter-widget {
      width: 100%;
      height: 245px;
      color: #9b9b9b;
      font-family: 'Allerta';
      margin-right: 30px;
      line-height: 15px; }
      .footer .content .twitter-widget h5 {
        margin: 50px 0px 0px 0px; }
      .footer .content .twitter-widget .message-box {
        font-size: 12px;
        margin-top: 23px;
        cursor: pointer; }
      .footer .content .twitter-widget #twitterUser1, .footer .content .twitter-widget #twitterUser2 {
        color: #57c5a0; }
    .footer .content .flickr-widget {
      width: 100%;
      float: left;
      color: #9b9b9b;
      font-family: 'Allerta'; }
      .footer .content .flickr-widget h5 {
        margin: 0px; }
      .footer .content .flickr-widget img {
        margin: 18px 0px 0px 0px;
        width: 75px;
        height: 55px; }
  .footer hr {
    background-color: #1c1c1c;
    color: #1c1c1c;
    border: 0 none;
    height: 1px;
    margin: 10px 0px 0px 0px; }
  .footer .social-media {
    width: 93.75%; }
    .footer .social-media .newsletter {
      display: none; }
    .footer .social-media .social-buttons {
      margin-top: 36px;
      float: left; }
      .footer .social-media .social-buttons .social-logo {
        width: 36px;
        height: 36px;
        background-color: #2e2e2e;
        float: left;
        margin-right: 10px; }
        .footer .social-media .social-buttons .social-logo:hover {
          background-color: #1A1919; }

/*CSS for after-footer-----------------------------*/
.after-footer {
  width: 100%;
  background-color: #2e2e2e; }
  .after-footer .content {
    width: 93.75%;
    margin: auto;
    font-family: 'Allerta'; }
    .after-footer .content p {
      color: #7d7d7d;
      font-size: 12px;
      float: left;
      line-height: 22px;
      margin: 25px 0px 25px 0px; }
    .after-footer .content ul {
      display: none; }

.modal-header {
  background-color: #242424; }

.modal-footer {
  background-color: #242424; }

.btn-default {
  background-color: #dfdbd4; }

@media (min-width: 480px) and (max-width: 768px) {
  .products-list {
    background-color: #ebe7df;
    width: 100%; }
    .products-list .content {
      width: 93.75%;
      margin: auto; }
      .products-list .content hr {
        background-color: #bcb5a7;
        color: #bcb5a7;
        border: 0 none;
        height: 1px;
        margin-top: 25px;
        margin-bottom: 25px; }
      .products-list .content h1 {
        font-family: 'Allerta';
        font-size: 15px;
        float: left;
        margin-top: 25px; }
      .products-list .content .show-all {
        width: 80px;
        height: 25px;
        border: 1px solid #bcb5a7;
        float: right;
        line-height: 25px;
        text-align: center;
        color: #bcb5a7;
        margin-top: 20px;
        font-family: 'Allerta'; }
        .products-list .content .show-all:hover {
          color: black;
          background-color: #B2AFAB; }
      .products-list .content .new-arrivals {
        width: 100%;
        margin: auto;
        margin-top: 51px; }
        .products-list .content .new-arrivals .product {
          height: 270px;
          width: 48%;
          position: relative;
          float: left;
          background-color: #FFF;
          margin: 15px 0px 15px 0px; }
          .products-list .content .new-arrivals .product:hover .action-menu {
            display: none; }
          .products-list .content .new-arrivals .product:hover h4 {
            display: block; }
          .products-list .content .new-arrivals .product:nth-child(2n) {
            float: right; }
          .products-list .content .new-arrivals .product img {
            border-bottom: 1px solid #CCC;
            width: 100%;
            height: 220px; }
          .products-list .content .new-arrivals .product .price {
            width: 68px;
            height: 68px;
            line-height: 68px;
            color: #FFF;
            background-color: #57c5a0;
            margin-left: 10px;
            text-align: center;
            font-family: 'Open Sans';
            margin-top: -18px;
            float: left;
            position: absolute; }
          .products-list .content .new-arrivals .product h4 {
            margin-left: 100px;
            line-height: 30px;
            color: #000;
            float: left;
            display: block; }
          .products-list .content .new-arrivals .product .on-sale {
            height: 68px;
            width: 68px;
            line-height: 68px;
            color: #FFF;
            background-color: #000;
            font-family: 'Open Sans';
            text-align: center;
            position: absolute;
            top: 0px;
            right: 10px; }
          .products-list .content .new-arrivals .product .action-menu {
            display: none; }
      .products-list .content .best-sellers {
        width: 100%;
        margin: auto;
        margin-top: 51px; }
        .products-list .content .best-sellers .product {
          height: 270px;
          width: 48%;
          position: relative;
          float: left;
          background-color: #FFF;
          margin: 15px 0px 15px 0px; }
          .products-list .content .best-sellers .product:hover .action-menu {
            display: none; }
          .products-list .content .best-sellers .product:hover h4 {
            display: block; }
          .products-list .content .best-sellers .product:nth-child(2n) {
            float: right; }
          .products-list .content .best-sellers .product img {
            border-bottom: 1px solid #CCC;
            width: 100%;
            height: 220px; }
          .products-list .content .best-sellers .product .price {
            width: 68px;
            height: 68px;
            line-height: 68px;
            color: #FFF;
            background-color: #57c5a0;
            margin-left: 10px;
            text-align: center;
            font-family: 'Open Sans';
            margin-top: -18px;
            float: left;
            position: absolute; }
          .products-list .content .best-sellers .product h4 {
            margin-left: 100px;
            line-height: 30px;
            color: #000;
            float: left;
            display: block; }
          .products-list .content .best-sellers .product .out-of-stock {
            height: 68px;
            width: 68px;
            line-height: 34px;
            color: #FFF;
            background-color: #f27e4b;
            font-family: 'Open Sans';
            text-align: center;
            float: right;
            position: absolute;
            top: 0px;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 20px; }
          .products-list .content .best-sellers .product .action-menu {
            display: none; }
      .products-list .content .pre-footer {
        width: 100%;
        margin-bottom: 25px; }
        .products-list .content .pre-footer .free-shipping {
          display: block;
          width: 48%;
          height: 185px;
          background-color: #dfdbd4;
          float: left;
          font-family: 'Allerta';
          font-size: 12px;
          padding: 10px 20px 10px 20px; }
        .products-list .content .pre-footer .testimonials {
          width: 48%;
          margin-left: 20px;
          height: 185px;
          background-color: #dfdbd4;
          float: right;
          font-family: 'Allerta';
          font-size: 12px;
          padding: 10px 20px 10px 20px;
          margin-left: 0px; }
        .products-list .content .pre-footer .blog {
          display: none; }

  .footer {
    width: 100%;
    background-color: #242424; }
    .footer .content {
      width: 93.75%;
      margin: auto; }
      .footer .content .text-widget {
        display: none; }
      .footer .content .twitter-widget {
        width: 48%;
        height: 245px;
        float: left;
        color: #9b9b9b;
        font-family: 'Allerta';
        line-height: 15px;
        margin: 0; }
        .footer .content .twitter-widget h5 {
          margin: 50px 0px 0px 0px; }
        .footer .content .twitter-widget .message-box {
          font-size: 12px;
          margin-top: 23px;
          cursor: pointer; }
        .footer .content .twitter-widget #twitterUser1, .footer .content .twitter-widget #twitterUser2 {
          color: #57c5a0; }
      .footer .content .flickr-widget {
        display: block;
        width: 48%;
        height: 245px;
        float: right;
        color: #9b9b9b;
        font-family: 'Allerta'; }
        .footer .content .flickr-widget h5 {
          margin: 50px 0px 0px 0px; }
        .footer .content .flickr-widget img {
          margin: 18px 5px 0px 0px;
          width: 60px;
          height: 55px; }
    .footer hr {
      background-color: #1c1c1c;
      color: #1c1c1c;
      border: 0 none;
      height: 1px;
      margin: 10px 0px 0px 0px; }
    .footer .social-media {
      width: 93.75%; }
      .footer .social-media .newsletter {
        display: block;
        height: 36px;
        width: 245px;
        margin: 36px 0px 0px 0px;
        float: left; }
        .footer .social-media .newsletter input {
          width: 209px;
          height: 36px;
          background-color: #2e2e2e;
          text-indent: 15px;
          font-size: 12px;
          color: #7d7d7d;
          border: none;
          font-family: 'Allerta';
          outline: none;
          float: left; }
          .footer .social-media .newsletter input::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #727272; }
          .footer .social-media .newsletter input:-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #727272; }
          .footer .social-media .newsletter input::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #727272; }
          .footer .social-media .newsletter input:-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #727272; }
        .footer .social-media .newsletter button {
          float: right;
          width: 36px;
          height: 36px;
          background-color: #7d7d7d;
          border: none;
          color: #242424; }
      .footer .social-media .social-buttons {
        margin-top: 36px;
        float: right; }
        .footer .social-media .social-buttons .social-logo {
          width: 36px;
          height: 36px;
          background-color: #2e2e2e;
          float: left;
          margin: 0px 0px 0px 5px; }
          .footer .social-media .social-buttons .social-logo:hover {
            background-color: #1A1919; } }

/*# sourceMappingURL=style-mobile.css.map */
