// Fetching nested maps // for simple maps see get-props 
@function map-fetch($map, $keys) {
  $keys     : nth($keys, 1);
  $length   : length($keys);
  $values   : map-get($map, $key);

  @if $length > 1 {
    $rest: ();
    @for $i from 2 through $length {
      $rest: append($rest, nth($keys, $i));
    }
    @return map-fetch($value, $rest);
  }
  @else {
    @return $value;
  }
}